* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 700px;
  min-height: 500px;
  /* background: black; */
  margin: auto;
  margin-top: 50px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1rem;
  background: #475569;
}
h1 {
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  letter-spacing: 2px;
  color: #f4f4f5;
}
.count {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #f4f4f5;
}
.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
button {
  padding: 0.555rem 1rem;
  cursor: pointer;
  text-transform: uppercase;
  background: #bfdbfe;
  border-radius: 0.555rem;
  color: #3f3f46;
  font-weight: 600;
  letter-spacing: 2px;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 1px solid #f4f4f4;
}
